/* CSS reset */
*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --red: rgb(202, 39, 39);
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:focus, input:focus{
    outline: none;
}

ul{
    list-style: none;
    padding-left: 0;
}

/* Debug */
/* .debug-border{
    border: 2px solid black;
}

.debug-border.red{
    border: 2px solid red;
}

.debug-border.green{
    border: 2px solid green;
}

.debug-border.blue{
    border: 2px solid blue;
} */

/* Body defaults */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Utility */
.container{
    margin: 0.5em 0.5em ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

/* Header */
.header__logo{
    font-size: 5rem;
    color: var(--red);
}

/* Input field */
.input{
    gap: 0;
    width: 100%;
}

.input__form{
    width: 100%;
    position: relative;
}

.input__clearButton{
    display: none;
    position: absolute;
    left: 20px;
    top: 25px;
}

.input__clearButton:hover{
    cursor: pointer;
}

.input__field{
    width: 100%;
    font-size: 24px;
    border: 0.2px solid grey;
    box-shadow: var(--shadow);
    padding: 16px 16px 16px 60px;
}

.input__field:focus{
    border: 0.5px solid var(--red);
}

.input__field::placeholder{
    color: rgb(165, 165, 165);
}

/* Tasks */
.tasks{
    width: 100%;
    margin: 0;
}

.tasks__card{
    width: 100%;
    font-size: 1.5rem;
    border: 0.5px solid rgb(177, 173, 173);
    border-top: none;
    padding: 16px 16px 16px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.tasks__deleteButton{
    color: rgb(165, 165, 165);
    font-size: 1.0rem;
    margin-top: 5px;
}

.tasks__checkbox{
    position: absolute;
    left: 16px;
    top: 20px;
}

.tasks__deleteButton:hover, .tasks__checkbox:hover{
    cursor: pointer;
}

/* Details */
.details{
    width: 100%;
    border: 0.5px solid rgb(177, 173, 173);
    border-top: none;
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 0.9rem;
    gap: 110px;
}

.details__filter{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.details__button{
    padding: 0 10px;
    /* Add a solid border to prevent pushing any neighbour buttons due to size change */
    border: 1px solid transparent; 
    flex: 1;
}

.details__button:hover{
    border: 1px solid var(--red);
    cursor: pointer;
}

.details__button--active{
    border: 1px solid var(--red);
    box-shadow: 0 0 3px var(--red);
}



